@import "tailwindcss";
@theme{
    --spacing-header : 12.5%;
    --spacing-medheader : 10.4%;
    --spacing-headerPadding : 24px;
    --spacing-forthy-height:48px;
    --spacing-navSmallScreenWidth : 67.7%;
    --spacing-navMdeiumScreenWidth : 83.4%;
    --spacing-stickDesktopPosition : calc(66.6% + 40px);
    --spacing-pdHeroSectionMobile :24px; 
    --spacing-pdXHeroSectionTablet :40px;
    --spacing-pdYtab_deskt : 128px;
    --spacing-btn_dim1 : 144px;
    --spacing-btn_dim2 : 272px;
    --spacing-btn_hover : 327px;
    --spacing-img_Dest_mobile:150px;
    --spacing-img_Dest_tablet : 300px;
    --spacing-img_Dest_laptop : 480px;
    --spacing-img_parent : calc(2.18 * 150px);
    --text-font_Etiquette : clamp(1.1875rem, 0.8574rem + 1.4085vw, 2.125rem);
    --text-h1 : clamp(5rem, 3.5915rem + 6.0094vw, 9rem);
    --text-para:clamp(0.9375rem, 0.9155rem + 0.0939vw, 1rem); 
    --text-btn-text : clamp(1.125rem, 0.2858rem + 3.5806vw, 2rem);
    --text-h1_dest : clamp(1.25rem, 0.625rem + 2vw, 1.75rem);;
    --text-li-dest : clamp(0.875rem, 0.7188rem + 0.5vw, 1rem);
    --text-5xl : 56px;
    --text-7xl : 80px;
    --color-sticKDesktopColor : #979797;
    --color-para : #D0D6F9;

    --breakpoint-deskt:1440px;

    --ease-smooth : cubic-bezier(0.8, 0, 1, 1);
    --font-bellefair : 'BelleFair';
    --font-barlow :'Barlow';
    --font-barlowCondensed: 'BarlowCondensed' ;
    --text-destinationNumInfo : 1.75rem ;
    
}
@font-face {
    font-family: 'BelleFair';
    src: url(../fonts/Bellefair-Regular.woff);
};
@font-face {
    font-family: 'Barlow';
    src: url(../fonts/Barlow-Regular.woff);
};
@font-face {
    font-family: 'BarlowCondensed';
    src: url(../fonts/BarlowCondensed-Regular.woff);
};
 
/*
 Using this method instead @apply
 because tailwindcss utility-class to  counter () in css doesn't exist ! 
*/

@media  screen and (min-width:768px) {
header ul li:nth-child(2){
    counter-reset: compteListe ;
}
header ul li:nth-child(n+2)::before{
    margin-right: .5rem;
    counter-increment: compteListe;
    content:  "0"counter(compteListe) ;
    color: white;
    
}
 }


@media  screen and (max-width:767px) {
header ul{
    counter-reset: compteListe -1;
}
header ul li::before{
    margin-right: 1rem;
    counter-increment: compteListe;
    content:  "0"counter(compteListe) ;
    color: white;
    
}  
}

@layer base{
body{
    @apply text-para
}

.etiquette , nav {
    @apply font-barlowCondensed;
}
p{
    @apply font-barlow;
}
h1 , button {
    @apply font-bellefair;
}
}


header img:first-child{
    @apply w-[40px] h-[40px]  md:w-[48px] md:h-[48px] object-contain;
}
header img:first-child:hover{
    @apply animate-spin cursor-pointer;
}


#closeBtn , header img:nth-child(2){
    @apply  w-headerPadding h-[21px]  object-contain ;
}

header nav{
    @apply lg:relative h-full deskt:h-[96px]  text-para md:w-full   w-navSmallScreenWidth  right-0 top-0 transition-all;
    
}
header nav::before {
    content: '';
    @apply deskt:absolute  deskt:max-w-[560px]  deskt:w-[76%]  deskt:h-px deskt:bg-sticKDesktopColor z-30   deskt:-left-stickDesktopPosition deskt:bottom-1/2 ;
}
header li{
    @apply relative md:flex md:items-center md:h-full;
}
header ul a:hover::after , header ul li:first-child a::after{
    content: '';
    @apply md:w-full md:h-1 bg-white z-30 absolute md:bottom-0  h-full w-1 right-0;
}
 #destination_header ul li:nth-child(1) a::after{
    content: '';
    @apply hidden;
}
 #destination_header ul li:nth-child(2) a::after{
    content: '';
    @apply md:w-full md:h-1 bg-white z-30 absolute md:bottom-0  h-full w-1 right-0;
}
header ul li:first-child a::after{
    @apply bg-para ;
    
}

main #textHeroSection .etiquette {
    @apply text-font_Etiquette;
}
button::before{

    @apply animate-ping  ease-smooth;
}
/* */
#dest_etiquette::before{
    @apply mr-4 text-para mb-6;
    content:  "01";
}  
#mainDestination{
    display: grid;
    height: fit ;
    grid-template-rows: max(41.5% , 203px) 1fr;
    place-items: center;
}
#mainDestination a {
    @apply pb-2 border-b-4 ;
}
#mainDestination ul li:nth-child(n + 2) a{
    @apply border-transparent;
}

.travelNumInfo{
    @apply text-destinationNumInfo text-white;
}
