@import "tailwindcss";
@theme{
    --spacing-header : 12.5%;
    --spacing-medheader : 10.4%;
    --spacing-headerPadding : 24px;
    --spacing-navSmallScreenWidth : 67.7%;
    --spacing-navMdeiumScreenWidth : 83.4%;
    --spacing-stickDesktopPosition : calc(66.6% + 40px);
    --spacing-pdHeroSectionMobile :24px; 
    --spacing-pdXHeroSectionTablet :40px;
    --spacing-pdYtab_deskt : 128px;
    --text-font_Etiquette : clamp(1.1875rem, 0.8574rem + 1.4085vw, 2.125rem);
    --spacing-btn_dim1 : 144px;
    --spacing-btn_dim2 : 272px;
    --spacing-btn_hover : 327px;
    --text-h1 : clamp(5.75rem, 1.5647rem + 17.8571vw, 10.125rem);
    --text-h1-md: 10.15rem; 
    --text-para:clamp(0.9375rem, 0.9155rem + 0.0939vw, 1rem); 
    --text-btn-text : clamp(1.125rem, 0.2858rem + 3.5806vw, 2rem);
    --color-sticKDesktopColor : #979797;
    --color-para : #D0D6F9;
    --breakpoint-deskt:1440px;
    --ease-smooth : cubic-bezier(0.8, 0, 1, 1);
    
}


button::before {

    @apply animate-pulse  duration-500 ease-smooth;
}

header img:first-child{
    @apply w-[40px] h-[40px]  md:w-[48px] md:h-[48px] object-contain;
}


#closeBtn , header img:nth-child(2){
    @apply  w-headerPadding h-[21px]  object-contain ;
}

header nav{
    @apply lg:relative h-full deskt:h-[96px]  md:w-full   w-navSmallScreenWidth  right-0 top-0 transition-all;
    
}
header nav::before {
    content: '';
    @apply deskt:absolute  deskt:max-w-[560px]  deskt:w-[76%]  deskt:h-px deskt:bg-sticKDesktopColor z-30   deskt:-left-stickDesktopPosition deskt:bottom-1/2 ;
}
header li{
    @apply relative md:flex md:items-center md:h-full;
}
header ul a:hover::before , header ul li:first-child a::before{
    content: '';
    @apply w-full h-1 bg-white z-30 absolute bottom-0 ;
}
main{
    @apply p-pdHeroSectionMobile  md:px-pdXHeroSectionTablet md:py-pdYtab_deskt 
}
main #textHeroSection .etiquette {
    @apply text-font_Etiquette;
}
