@import "tailwindcss";
@theme{
    --spacing-header : 12.5%;
    --spacing-medheader : 10.4%;
    --spacing-headerPadding : 24px;
    --spacing-navSmallScreenWidth : 67.7%;
    --spacing-navMdeiumScreenWidth : 83.4%;
    --spacing-stickDesktopPosition : (66.6% + 40px);
}

header img:first-child{
    @apply w-[40px] h-[40px]  md:w-[48px] md:h-[48px] object-contain;
}


#closeBtn , header img:nth-child(2){
    @apply  w-headerPadding h-[21px]  object-contain ;
}

header nav{
    @apply lg:relative h-full  md:w-full   w-navSmallScreenWidth  right-0 top-0 transition-all;
    
}
header nav::before {
    content: '';
    @apply lg:absolute lg:max-w-[630px] lg:w-[76%] lg:h-px lg:bg-white z-30   lg:-left-stickDesktopPosition lg:bottom-1/2 ;
}
header li{
    @apply relative md:flex md:items-center md:h-full;
}
header ul a:hover::before , header ul li:first-child a::before{
    content: '';
    @apply w-full h-1 bg-white z-30 absolute bottom-0 ;
}

