@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SpaceGrotesk';
    src: url('../fonts/static/SpaceGrotesk-Regular.ttf');
}
@font-face {
    font-family: 'SpaceGroteskBold';
    src: url('../fonts/static/SpaceGrotesk-Medium.ttf');
}
 body{
    font-family: 'SpaceGrotesk';
 }
 header{
    background-image: url(../images/bg-main-mobile.png);
    height: 30%;
    max-height: 200px;
 }
 header #cardImage {
   height: 100%;
 }

 header #cardImage > div ,.cardBack , .cardFront{
    width: 65%;
    height: 65%;
    min-width: 200px;
    max-width: 320px;
    border-radius: .3rem;
    background-position: center;
    background-size: cover;
 }
  .cardBack , .cardFront{
   height: 25%;
   width: 75%;
   min-width: 250px;
   max-height: 230px;
   color: white;
   
  

}
.cardBack{
      background-image: url(../images/bg-card-back.png);
}
.cardFront{
      background-image: url(../images/bg-card-front.png);
}
.nameHolder_CVC{
   display: flex;
   justify-content: space-between;
   font-size: clamp(8px , 1.5%, 12px);
}

 aside{
   background-image: url(../images/bg-main-desktop.png);
 }
 .account_number{
   font-size: clamp(14px , 1% , 20px);
 }

 form{
   font-family: 'SpaceGroteskBold';
 }
 label {
   letter-spacing: .1rem;
   margin-bottom: .3rem;
}
input {
   border:  2px solid hsl(270, 3%, 87%);
   padding: .5rem;
   border-radius: .5rem;
   margin-bottom: 1rem;
}
input:hover{
   cursor: pointer;
}
.cardBack:hover , .cardFront:hover{
   cursor: pointer;
}
input:focus{
   @apply outline-purple-950 ; 
}
form span {
   @apply text-inputErrorsColorRed;
}